/* BODY */
div.body {
    display: flex;
    margin: 5px;
    margin-top: 10px;
}




.left_body {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    width: 250px;
    float: left;
}

.left_body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_body li {
    
}




.right_body {
    display: flex;
    border: 1px solid black;
    width: 1030px;
}

.right_body img {
    margin: 5px;
    height: 200px;
}

div.content {
    width: 250px;
}