<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="header">
        ADMIN
    </div>
    <div class="body">
        <table class="center">
            <tr>
                <th>ID Tác giả</th>
                <th>Tên tác giả</th>
                <th>Chỉnh sửa</th>
                <th>Xóa</th>
            </tr>
            <tr>
                <td>01</td>
                <td>Willer</td>
                <td><button type="button">Chỉnh sửa</button></td>
                <td><button type="button">Xóa</button></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Willer</td>
                <td><button type="button">Chỉnh sửa</button></td>
                <td><button type="button">Xóa</button></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Willer</td>
                <td><button type="button">Chỉnh sửa</button></td>
                <td><button type="button">Xóa</button></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Willer</td>
                <td><button type="button">Chỉnh sửa</button></td>
                <td><button type="button">Xóa</button></td>
            </tr>
        </table>
    </div>
    <div class="footer">
        admin
    </div>
</body>
</html>